header {
    nav {
        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;

            li {
                border-color: #888888;
                border-width: 1px;
                border-style: solid;
                border-right: none;
                border-bottom: none;
                padding: .25rem .5rem;

                &:last-child {
                    border-right: 1px solid #888888;
                }
            }
        }
    }
}