@import '../variables.scss';

header {
    nav {
        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            margin-bottom: 0;

            li {
                border-color: $lightPurple;
                border-width: 1px;
                border-style: solid;
                border-right: none;
                border-bottom: none;
                padding: .25rem .5rem;

                &:last-child {
                    border-right: 1px solid $lightPurple;
                }
            }
        }
    }
}