---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
---
<Layout>
  <div class="links">
    {posts.map((post: any, index: number) => (
        <a href={`/posts/${post.slug}`}>{post.data.title}</a>
    ))}
  </div>
</Layout>