@import '../styles/variables';

html {
  background-color: $black;
  color: $teal;
  font-family: Consolas, Helvetica, sans-serif;
  font-size: 12px;
}

a {
  color: lighten($teal, 10%);

  &:hover {
    color: $white;
  }
}

h1 {
  color: $teal;
}

h2 {
  color: $gray;
}

h3,
h4,
h5,
h6,
p {
  color: $white;
}

body {
  padding: 2rem;
  // max-width: 800px;
  max-width: 640px;
  margin: 0 auto;

  main {
    border: 1px solid $white;
    padding: .5rem;

    img {
      min-width: 50%;
      max-width: 100%;
    }
  }
}

.links {
  a {
    display: block;

    &:hover {
      background-color: $gray;
      color: $black;
    }
  }
}

.box {
  background-color: $darkBlack;
  padding: 1rem;
  margin: 1rem 0;
}