---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  return posts.map((post: any, i: number) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost:
        i === 0
        ? null
        : posts[i - 1],
      nextPost:
        (i + 1) === posts.length
        ? null
        : posts[i + 1]
    }
  }))
}

const { post, prevPost, nextPost } = Astro.props
const { Content } = await post.render()
---
<Layout>
  <h1>{ post.data.title }</h1>
  <Content/>
  <div id="post-navigation" slot="pre-footer">
    <ul>
      <li class="nav-btn">
        {prevPost && <a href={prevPost.slug}>Previous: {prevPost.data.title}</a>}
      </li>
      <li class="nav-btn">
        <a href="/posts">Top</a>
      </li>
      <li class="nav-btn">
        {nextPost && <a href={nextPost.slug}>Next: {nextPost.data.title}</a>}
      </li>
    </ul>
  </div>
</Layout>