---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Miasma">
	<h1>Welcome to the homepage</h1>
	<h2>An h2 tag</h2>
	<h3>An h3 tag</h3>
	<h4>An h4 tag</h4>
	<h5>An h5 tag</h5>
	<h6>An h6 tag</h6>
	<p>a paragraph tag</p>
	<div class="links">
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
		<a href="">a long link</a>
	</div>
	<div class="box">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo veniam aperiam tempora sunt delectus tempore eaque minima, culpa quisquam amet nostrum hic, placeat voluptas consectetur impedit quidem ad voluptatibus deserunt?</p>
	</div>
</Layout>
