---
import '../styles/components/Header.scss'
---
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/stuff">Stuff</a></li>
            <li><a href="/ok">Ok</a></li>
        </ul>
    </nav>
</header>